.relative-center {
  position: relative;
  margin: auto;
}
.fixed-full-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.expand-by-width {
  width: 100vw;
  height: auto;
}
.bacround-image {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -100;
}
.backround-color {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.1);
  z-index: -99;
}
.absolute-center {
  position: absolute;
  margin: auto;
}
.modal-60w {
  margin-left: auto !important;
  margin-right: auto !important;
  width: fit-content !important;
  max-width: 95vw !important;
}
.product-popup-image {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.product-popup-price {
  position: relative;
  margin-top: 2.35em;
  font-size: 1em;
}

.main-content {
  position: relative;
  width: 100%;
}
.flower-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  margin: auto;
  margin-top: 3px;
}
.product-popup-button {
  width: 100%;
  min-width: 100px;
  height: 8vh;
  min-height: 50px;
  margin-top: 10px;
  position: relative;

  font-size: min(2em, 5vw) !important;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.product-container {
  border: 2px solid rgba(0, 0, 0, 1);
  border-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.05))
    1 25%;
  background-color: ghostwhite;
  margin: 3px;
}

.product-container:hover {
  border: 3px solid rgba(0, 0, 0, 0.8);
}
.product-title {
  position: relative;
  background-color: rgba(248, 248, 255, 0.8);
  font-size: 1.5em;
  margin-top: -1.5em;
  width: fit-content;
  max-width: 250px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.product-image {
  display: block;
  max-width: 100%;
  width: 250px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.cart-photo {
  height: 4vh;
  max-height: 100px;
  min-height: 80px;
}

table thead tr th {
  text-align: center;
}

table td,
table thead tr {
  font-size: 16px;
  text-align: center;
}

.btn-delete {
  border: "none";
  box-shadow: "none";
  background-color: "transparent";
}
.header-container {
  position: relative;
  display: flex;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.6);
}

.header-container .row {
  align-items: flex-end;
  justify-content: space-between;
}
.nav-title {
  margin-top: auto !important;
  margin-bottom: auto !important;
  width: fit-content;
  font-size: calc(1em + 1vw);
  font-family: "Domine-SB";
}
.header-buttons-container .btn {
  margin: 5px;
  margin-top: 0;
  font-size: min(1.5em, calc(0.5em + 1.5vw));
  flex-grow: 0.1;
  padding: 0.1rem;
  padding-left: 3vw;
  padding-right: 3vw;
}

.login-button {
  position: relative;
  display: flex;
  font-size: min(1.1em, calc(0.5em + 1.5vw)) !important;
  padding: 0.1rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.login-name {
  right: 0;
  top: 100;
  text-align: right;
  z-index: 100;
}
.table td,
.table th {
  padding-right: 0 !important;
  padding-left: 0 !important;
  width: fit-content;
}

.header-buttons-container {
  flex-direction: row;
  justify-content: center;
}

.shopping-cart-table {
  position: relative;
  background-color: rgba(248, 248, 255, 0.9);
  margin: auto;
}
.shopping-cart-table * {
  vertical-align: middle !important;
}
.modal-content {
  background-color: transparent !important;
  border: 2px transparent !important;
  border-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.05))
    1 25% !important;
  border-radius: 10px !important;
}
.shopping-cart-table thead {
  background-color: rgba(248, 248, 255, 0.5);
}
.account-login-popup {
  border: 2px solid rgba(0, 0, 0, 1);
  border-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.05))
    1 25%;
  border-radius: 10px;
}
.account-registration-popup {
  border: 2px solid rgba(0, 0, 0, 1);
  border-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.05))
  1 25%;
  border-radius: 10px;
}
.account-registration-form {
  width: 400px;
  padding: 30px;
}
.account-registration-button-form{
  display: flex;
  justify-content: center;
  align-items: center;
  height:6vh;
}
.basket-note-textarea {
  position: relative;
  border: 2px solid rgba(0, 0, 0, 1);
  border-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.05))
    1 25%;

  width: 100%;
  max-width: max(30vw, 350px);
  background-color: rgba(248, 248, 255, 0.9);

  overflow: auto;
  outline: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

.basket-note-textarea :focus :hover {
  outline: none;
  border: 3px solid rgba(0, 0, 0, 0.8);
  background-color: white;
}
.flower-list-container {
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  margin: auto;
  justify-content: space-between;
  margin-top: 10px;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.flower-list-container .dropdown .btn {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 1.5em;
  min-height: 1.5em;
}
.flower-list-container .form-control {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 1.5em;
}

.input-range-container {
  padding: 3px 35px 20px 0px;
  width: 20vw;
  min-width: 150px;
}
.type-dropdown {
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}
.input-range {
  margin-left: 15px;
  margin-top: 15px;
}

.basket-total-container {
  position: relative;
  display: flex;
  float: right;
  justify-content: left;
  margin-right: 0;
  margin-left: auto;
  top: -0.6vw;
  padding: 4px;
  width: fit-content;
  min-width: 50px;
  background-color: rgba(248, 248, 255, 0.9);
  overflow: auto;
  outline: none;
}

.basket-content {
  margin: auto;
  margin-top: 10px;
  width: 90%;
}
.product-info {
  font-size: min(0.5em, 4vw);
  word-break: break-word;
}

.order-button {
  position: relative;
  display: flex;
  float: right;
  justify-content: left;
  margin-right: 0;
  margin-left: auto;
  top: 0.6vw;
  padding: 4px;
  width: fit-content;
  min-width: 50px;
  overflow: auto;
  outline: none;
}

.order-form {
  padding: 15px;
  background-color: rgba(248, 248, 255, 1);
  min-width: min(100vw, 400px);
  width: 50vw;
  max-width: 900px;
}
.toast-notification {
  left: 50%;
  transform: translate(-50%);
  z-index: 200000 !important;
  position: fixed;
  top: 0;
  margin-top: 1vh;
}
.account-login-icon {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 3px;
  margin-left: -10px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
}
.account-login-form {
  padding: 10px;
}
.create-account-btn {
  width: 100%;
  border: none;
  background-color: inherit;
  font-size: 1em;
  cursor: pointer;
  display: inline-block;
}

.create-account-btn:hover {
  background: #eee;
  border: 2px transparent;
  border-radius: 10px;
}

.blue {
  color: blue;
}
