
.relative-center {
  position: relative;
  margin: auto;
}
.fixed-full-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.expand-by-width {

  width: 100vw;
  height: auto;
}
.bacround-image {
  background-image: url('flowerBackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;

}

.backround-color {
  backdrop-filter: blur(8px);
background-color: rgba(0, 0, 0, 0.1);
 
}
.absolute-center {
  position: absolute;
  margin: auto;
}

.main-content{
  position: relative;
  width: 100%;
}
.flower-list{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.cartPhoto {
  height: 4vh;
  max-height: 100px;
  min-height: 80px;
}

table thead tr th {
  text-align: center;
}

table td, table thead tr {
  font-size: 16px;
  text-align: center;
}

.btn-delete {
  border: 'none';
  box-shadow: 'none';
  background-color: 'transparent';
}