body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Domine-SB";

  src: local("Domine-SB"), url(Fonts/Domine-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "AWRegular";
  src: local("AWRegular"), url(Fonts/Audiowide-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "BNRegular";

  src: local("BNRegular"), url(Fonts/BebasNeue-Regular.ttf) format("truetype");
}
